<h1>商品一覧</h1>
  <table>
    <tr>
      <td>
        <%=image_tag "product1.jpg", alt: "procuct", class: "product-img"%>
        値段：2000円
        <br><%=button_to"購入",new_charge_path,method: :get,params: { amount:2000 }%>
      </td>
      <td>
        <%=image_tag "product2.jpg", alt: "procuct", class: "product-img"%>
        値段：3000円
        <br><%=button_to"購入",new_charge_path,method: :get,params: { amount:3000 }%>
      </td>
      <td>
        <%=image_tag "product3.jpg", alt: "procuct", class: "product-img"%>
        値段：4000円
        <br><%=button_to"購入",new_charge_path,method: :get,params: { amount:4000 }%>
      </td>
    </tr>
  </table>
