<!DOCTYPE html>
<html>
  <head>
    <title>EC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="headerInner">
        <div class="header_title">
          <h1><%=link_to"No Cash Mart","/"%></h1>
        </div>
        <div class="global_nav">
          <ul>
            <% if user_signed_in?%>
              <li><%=current_user.email%></li>
              <li>お問い合わせ</li>
              <li><%=link_to"マーケット",products_path%></li>
              <li><%=link_to"カート",carts_path%></li>
              <li><%=link_to"注文履歴",order_histories_path	%></li>
            <%else%>
              <li>お問い合わせ</li>
              <li><%=link_to"マーケット",products_path%></li>
              <li><%=link_to"ログイン",new_user_session_path,class:"login_var"%></li>
              <li><%=link_to"新規登録",new_user_registration_path,class:"login_var"%></li>
            <%end%>

          </ul>
        </div>
      </div>
    </header>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
